In [1]:
import tabula as tb

In [2]:
PDF_FILE = 'Beverage_CSD (GTC)_2DR - Narrow Short.pdf'

In [3]:
fc = 28.28
box = [2,8,20,28]
for i in range(0, len(box)):
    box[i] *= fc
print(box)

[56.56, 226.24, 565.6, 791.84]

In [4]:
import pdfplumber
import pandas as pd
required_column = ['LOC MCLANE', 'Desc_A', 'UNIT UPC', 'PACK', 'DESCRIPTION','Size', 'UOM', 'FACINGS']
final_df = []
with pdfplumber.open(PDF_FILE) as pdf:
        pages = pdf.pages
        for i,page in enumerate(pages):
            
            page_number = [i+1] 
            df = []
            if page_number[0]>2:
                print("Extracting Data from page:",page_number[0])
                tl = tb.read_pdf(PDF_FILE, pages=page_number,area=[box],output_format="dataframe", stream=True)
                df = tl[0]
                df = df[required_column]
                final_df.append(df)
                print(type(final_df))
                # df.drop(df.columns[[1]],axis=1, inplace=True)
#                 print(df)
final_df = pd.concat(final_df)
final_df = final_df[final_df[final_df.columns[0]].notna()] # Remove the rows where LOCMCLANE is NaN.
final_df.to_csv("demo.csv", index=False)
print(final_df)

Extracting Data from page: 3
<class 'list'>
Extracting Data from page: 4
<class 'list'>
Extracting Data from page: 5
<class 'list'>
Extracting Data from page: 6
<class 'list'>
   LOC MCLANE    Desc_A      UNIT UPC  PACK                    DESCRIPTION  \
0    DOOR 1/1       NaN           NaN   NaN                            NaN
1       1 DSD  124692.0  1.200015e+09  12.0  KICKSTART MIDNIGHT GRAPE 16OZ
2       2 DSD  110488.0  1.200004e+09  12.0        KICKSTART BLK CHRY 16OZ
3       3 DSD  103526.0  1.200011e+09  12.0      KICKSTART ORG CITRUS 16OZ
4       4 DSD  103525.0  1.200011e+09  12.0     KICKSTART FRUIT PUNCH 16OZ
..        ...       ...           ...   ...                            ...
21   DOOR NEW       NaN           NaN   NaN                            NaN
22      1 DSD  158426.0  1.200018e+09  24.0                    PEPSI MANGO
23      2 DSD  158427.0  1.200021e+09  24.0               PEPSI MANGO ZERO
24      3 DSD  159065.0  7.800004e+09  24.0                 DR PEPPER ZERO
25      4 DSD  151778.0  8.806706e+09  12.0                 1919 ROOT BEER

    Size  UOM  FACINGS
0    NaN  NaN      NaN
1   16.0   OZ      1.0
2   16.0   OZ      1.0
3   16.0   OZ      2.0
4   16.0   OZ      1.0
..   ...  ...      ...
21   NaN  NaN      NaN
22  20.0   OZ      1.0
23  20.0   OZ      1.0
24  20.0   OZ      1.0
25  16.0   OZ      1.0

[82 rows x 8 columns]

In [68]:
import re

final_df = final_df.fillna(method='ffill')

for i in range(len(final_df)):
    loc_mclane = final_df.iloc[i][final_df.columns[0]] #final_df[final_df.columns[0]].values[i] #
    loc_mclane_prev = ''
    if loc_mclane.isdecimal():
        loc_mclane_prev = final_df.iloc[i-1][final_df.columns[0]]
        loc_mclane_new = loc_mclane + ' ' + loc_mclane_prev
        final_df.loc[i,final_df.columns[0]] = loc_mclane_new
        final_df_1 = final_df.drop([final_df.index[i]])
        final_df_1 = final_df_1.loc[final_df_1['LOC MCLANE'].str.contains("DOOR|\d+", case=False)]

In [69]:
final_df.to_csv("demo1.csv", index=False)

In [70]:
final_df_1.to_csv("demo2.csv", index=False)

In [71]:
final_df_1

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR 1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2 DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3 DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4 DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
...,...,...,...,...,...,...,...,...
21,DOOR NEW,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [29]:
d1= final_df_1.loc[:, :final_df_1.columns[0]] 
d2 = final_df_1.loc[:, final_df_1.columns[1]:]
print(type(d2))

<class 'pandas.core.frame.DataFrame'>

In [42]:

combined_column = []
for i in range(len(d1)):
    val = d1.iloc[i][d1.columns[0]]
    combined_column.append([val.split()[0],val.split()[-1]])
#     loc_column.append(val.split()[0])
#     mclane_column.append(val.split()[-1])
# combined_column = pd.DataFrame([loc_column,mclane_column],columns=['LOC','MCLANE'])
print(combined_column)

[['DOOR', '1/1'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['DSD', 'DSD'], ['5', 'DSD'], ['6', 'DSD'], ['DOOR', '1/2'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['DOOR', '1/3'], ['1', 'DSD'], ['2', 'DSD'], ['DOOR', '1/4'], ['1', 'DSD'], ['DOOR', '1/5'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['6', 'DSD'], ['DOOR', '1/6'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['DOOR', '2/1'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['5', 'DSD'], ['DOOR', '2/2'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['3', 'DSD'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['DOOR', '2/4'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['DOOR', '2/5'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['5', 'DSD'], ['7', 'DSD'], ['8', 'DSD'], ['DOOR', '2/6'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['5', 'DSD'], ['DOOR', 'DISCO'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD'], ['5', 'DSD'], ['DOOR', 'NEW'], ['1', 'DSD'], ['2', 'DSD'], ['3', 'DSD'], ['4', 'DSD']]

In [53]:
combined_column_df = pd.DataFrame(combined_column,columns=['LOC','MCLANE'])
# print(d2.index)

d2.reset_index(drop=True, inplace=True)
combined_column_df.reset_index(drop=True, inplace=True)
final_table = pd.concat([combined_column_df, d2], axis=1)

final_table.to_csv("demo4.csv", index=False)

In [52]:
final_table

,LOC,MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR,1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2,DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3,DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4,DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
...,...,...,...,...,...,...,...,...,...
74,DOOR,NEW,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
75,1,DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
76,2,DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
77,3,DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
78,4,DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [72]:
final_df_1

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR 1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2 DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3 DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4 DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
...,...,...,...,...,...,...,...,...
21,DOOR NEW,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [73]:
for i in range(len(d1)):
    door = d1.iloc[i][d1.columns[0]]

In [74]:
final_df_1

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR 1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2 DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3 DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4 DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
...,...,...,...,...,...,...,...,...
21,DOOR NEW,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [93]:
import re
door_re = re.compile(r'DOOR')
door = []
door_num = ''
for i in range(len(final_df_1)):
#     x = final_df_1.loc[final_df_1['LOC MCLANE'].str.contains("DOOR", case=False)]
    x = final_df_1.iloc[i][final_df_1.columns[0]]
    if door_re.search(x):
        door_num = x.split()[1]
    
    door.append(door_num)
    
print(len(door))

78

In [94]:
result = final_df_1.append(pd.DataFrame(door,columns=['Door']))

In [25]:
l1 = final_df.iloc[6]
print(type(l1))

<class 'pandas.core.series.Series'>

In [17]:
l2 = final_df.iloc[5]
l1

LOC MCLANE      5
Desc_A          0
UNIT UPC        0
PACK            0
DESCRIPTION     0
Size           16
UOM            OZ
FACINGS         2
Name: 6, dtype: object

In [20]:
l3 = str(l1)+str(l2)

In [28]:
l3_series = pd.Series(l3)
l3_series

0    LOC MCLANE      5\nDesc_A          0\nUNIT UPC...
dtype: object

d1 = pd.DataFrame()
d2 = pd.DataFrame()
for i in float_list:
    d1 = final_df[0:i]
    d2 = final_df[i:]
    print(i)

# d1 = final_df[]
# d1

In [185]:
d1

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR 1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2 DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3 DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4 DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
5,DSD,144493.0,1.200018e+09,12.0,KICKSTART PINEAPPLE ORANGE MANGO,NaN,NaN,NaN
6,5,NaN,NaN,NaN,NaN,16.0,OZ,2.0
7,NaN,NaN,NaN,NaN,16OZ,NaN,NaN,NaN
8,6 DSD,84204.0,1.200003e+09,24.0,MT DEW CAN 16OZ,16.0,OZ,2.0
9,DOOR 1/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
11,2 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
12,DSD,138606.0,1.200017e+09,24.0,PEPSI WLD CHRY DT 20OZ,NaN,NaN,NaN
13,3,NaN,NaN,NaN,NaN,20.0,OZ,1.0

In [186]:
d2

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
14,NaN,NaN,NaN,NaN,NEW,NaN,NaN,NaN
15,4 DSD,20213.0,1.200001e+09,24.0,PEPSI WLD CHRY 20OZ,20.0,OZ,2.0
16,5 DSD,20229.0,1.200000e+09,24.0,PEPSI 20OZ,20.0,OZ,3.0
17,DOOR 1/3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1 DSD,20214.0,1.200000e+09,24.0,MT DEW DT 20OZ,20.0,OZ,5.0
...,...,...,...,...,...,...,...,...
21,DOOR NEW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [191]:
d3 = final_df.head(7).combine_first(final_df.tail(7))

In [192]:
d3

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
0,DOOR 1/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 DSD,124692.0,1.200015e+09,12.0,KICKSTART MIDNIGHT GRAPE 16OZ,16.0,OZ,1.0
2,2 DSD,110488.0,1.200004e+09,12.0,KICKSTART BLK CHRY 16OZ,16.0,OZ,1.0
3,3 DSD,103526.0,1.200011e+09,12.0,KICKSTART ORG CITRUS 16OZ,16.0,OZ,2.0
4,4 DSD,103525.0,1.200011e+09,12.0,KICKSTART FRUIT PUNCH 16OZ,16.0,OZ,1.0
5,DSD,144493.0,1.200018e+09,12.0,KICKSTART PINEAPPLE ORANGE MANGO,NaN,NaN,NaN
6,5,NaN,NaN,NaN,NaN,16.0,OZ,2.0
19,4 DSD,144449.0,1.200018e+09,24.0,PEPSI VANILLA 20OZ,20.0,OZ,1.0
20,5 DSD,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
21,DOOR NEW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0

In [178]:
d2 = final_df.tail(float_list[0])
d2

,LOC MCLANE,Desc_A,UNIT UPC,PACK,DESCRIPTION,Size,UOM,FACINGS
19,4 DSD,144449.0,1.200018e+09,24.0,PEPSI VANILLA 20OZ,20.0,OZ,1.0
20,5 DSD,144476.0,7.800003e+09,24.0,CANADA DRY GINGER ALE LEMONADE,20.0,OZ,1.0
21,DOOR NEW,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1 DSD,158426.0,1.200018e+09,24.0,PEPSI MANGO,20.0,OZ,1.0
23,2 DSD,158427.0,1.200021e+09,24.0,PEPSI MANGO ZERO,20.0,OZ,1.0
24,3 DSD,159065.0,7.800004e+09,24.0,DR PEPPER ZERO,20.0,OZ,1.0
25,4 DSD,151778.0,8.806706e+09,12.0,1919 ROOT BEER,16.0,OZ,1.0